.c-character-list {
  
  font-family: "GameOfThrones";

  &__img {
    width: 250px;
    height: 100%;
    cursor: pointer;
  }
  &__links {
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
  }
  &__links .pj {
    text-decoration: underline;
  }
  &__container {
    font-size: 10px;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    display: none;
    padding: 5px;
    width: 250px;
    height: 200px;
    text-justify: distribute-all-lines;
    margin-top: -35%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
  &__container:hover &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}
