*{
    color: white;
    list-style: none;
}

.header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;

    &__flags{
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__flags > img{
        width: 40px;
        height: 45px;
    }
}
.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: GameOfThrones;
    padding: 10px;
    
    &__img{
        height: 350px;
        padding: 20px;
    }

    &__name{
        padding-bottom: 30px;
    }
}

.flecha {
    font-size: 35px;
    cursor: pointer;
}
.ul-apariciones {
    overflow-y: scroll;
    height: 250px;
    padding: 10px;
    
}
.ul-apariciones::-webkit-scrollbar{
    width: 7px;
    background: #333333;
}

.ul-apariciones::-webkit-scrollbar-thumb {
    background: white;
	border-radius: 5px;
}

.characterDetails{
    text-align: center;
    display: flex;
    justify-content: center;
}
.characterDetails--table{
    width: 90vw;
    font-size: 18px ;

    &__header{
        font-family: GameOfThrones;
        font-size: 20px;
    }
    &__ll{
        width: 20px;
    }
}