<div class="c-timeline--content">
  <div class="c-timeline--content__timeline">
 
    <div class="c-timeline--content__left c-timeline--content__container" *ngFor="let character of charactersList">
      <div class="c-timeline--content__content" >
        <h2>{{character.age.age}} </h2>
        <h4>{{character.name}}</h4>
        <img src="{{character.image}}" >
      </div>

  </div>
</div>
<div class="c-timelime--footer">
  <div class="c-timeline--footer__links">
    <p [routerLink]="['/characters']" translate>One</p>
    
    <p translate [routerLink]="['/houses']">Two</p>
    
    <p class="c-timeline--footer__under" translate [routerLink]="['/timeline']">Three</p>
  </div>
</div>