* {
  color: white;
  font-family: 'GameOfThrones';
}
.c-timeline--content{
  height: 1000px;
  position: absolute;
  // width: ;
}
.c-timeline--footer{
  &__links{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
  }
  &__under{
    text-decoration: underline;
  }

}