.c-got-home{
    &__title{
        padding: 12% 0;
        font-size: 120px;
    }
    &__links{
        display: grid;
        grid-template-columns: auto auto auto;
        font-size: 25px;
        cursor: pointer;
    }

    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../../../assets/img/fondoGOT.svg');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: white;
    font-family: 'GameOfThrones';
}

