/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "GameOfThrones";
    src: url("../src/assets/fonts/GameofThrones.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.ui-button, .ui-orderlist-controls{
    display: none;
}
.ui-inputtext{
    margin: 25px 20px;
    font-size: 16px;
    border: none;
    width: 30vw;
    height: 3vh;
    color: white;
    background-color: black;
    border-bottom: solid 3px white;
}

.ui-orderlist-list{
    overflow-y: scroll;
    height: 82vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
.ui-orderlist-list::-webkit-scrollbar{
    width: 7px;
    background: #333333
}
.ui-orderlist-list::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}
.ui-orderlist-item	{
    margin: 2vh 0;
    text-align: center;
}
@media screen and (max-width: 1025px){
    .c-got-home{
    background-image: url('../src/assets/img/fondoGOT1024.jpg');
    min-height: 100vh;
    min-width: 100vw;
}
}